<h1 class="page-title">Handling Files</h1>

<p>
  Here's a link to an image. Turbo doesn't handle non-html links, so it will ignore this link. By default, it will open in the browser. We've added special handling in the app for files on the same domain to open in-app instead.
</p>

<a href="/image.jpg">
  <img src="/image_thumbnail.jpg">
</a>

<p class="text --color-subtle --align-center">
  <small>
    Image credit to <a href="https://unsplash.com/photos/70l1tDAI6rM">Chris Lee via Unsplash</a>
  </small>
</p>
