<h1 class="page-title">How’d You Get Here?</h1>
<p>When you tap the link to this page, Turbo proposes a visit to the app to decide how to handle the URL. In this case, it chooses to present a Turbo-based web screen.</p>
<p>Go back and try <em>Intercept with a native view</em> to see how to load a native screen instead.</p>
<p>This link will be presented using the same advance presentation:</p>
<p><a href="/two" class="button@native space --bottom-flush">Advance to another webpage</a></p>
<p>And this next one does a <em>replace</em> instead:</p>
<p><a href="/two?action=replace" class="button@native space --buttom-flush" data-turbo-action="replace" data-turbolinks-action="replace">Replace with another webpage</a></p>
