<script>
  function share() {
    webkit.messageHandlers.nativeApp.postMessage({
      method: 'share',
      shareText: 'Hello from the webview 👋',
    });
  }
</script>

<h1 class="page-title">Try sharing using native modal</h1>
<p>
  Turbo iOS and Turbo Android supports communication between native app and
  JavaScript (the visited page). This is very useful for eg. programmatically
  doing something natively, triggered from the website or for programmatically
  doing something on the website, triggered natively.
</p>
<p>
  Try button <em>Open native share modal</em> to see how it works in action 🚀
</p>
<p>
  <a
    id="shareButton"
    onclick="share()"
    class="button@native space --bottom-flush"
    >Open native share modal</a
  >
</p>
