<h1 class="page-title">Sign In</h1>

<form method="post" enctype="multipart/form-data">
  <label for="name" class="display --block space --bottom-s">What is your name?</label>
  <input type="text" name="name" id="name" placeholder="Type your name…">
  <button type="submit">Sign In</button>
</form>
