body.index {
  background-color: var(--color-background-index);
}

body:not(.index) .page-title {
  margin: -0.5em 0 0.5em;
  padding: var(--space-m);
  background: var(--color-neutral);
  text-align: center;
  grid-column: 1/span 3 !important;
}

@media (min-width: 45em) {
  body:not(.index) .page-title {
    margin: -1em 0 1em;
    padding: var(--space-l);
    grid-column: 1/span 14 !important;
  }
}

@media (min-width: 45em) {
  .actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
}

@media(max-width: 44.9em) {
  .actions__header {
    padding-left: 1em;
    font-size: var(--type-s);
    font-weight: normal;
    font-style: normal;
    color: var(--color-text-subtle)
  }
}

.actions__item,
.actions__item:visited {
  display: block;
  padding: 0.7em 0.7em 0.7em 3em;
  background: var(--color-sheet);
  color: var(--color-text);
  position: relative;
  text-decoration: initial;
}

.actions__item p {
  margin: var(--space-s) 0;
  font-size: var(--type-xs);
  line-height: var(--leading-m) !important;
  text-align: left;
}

@media (max-width: 44.9em) {
  .actions__item + .actions__item:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 3em;
    border-top: 0.5px solid var(--color-border);
  }
  
  .actions__item:first-child {
    border-radius: 0.5em 0.5em 0 0;
  }
  
  .actions__item:last-child {
    border-radius: 0 0 0.5em 0.5em;
  }

  .actions__item {
    text-decoration: none;
  }
}

@media (min-width: 45em) {
  .actions__item {
    width: 49%;
    margin-bottom: 2%;
    padding: 1.5em;
    background-image: none;
    border: 0;
    border-radius: 0.5em;
    text-align: center;
  }
}

.actions__icon {
  position: absolute;
  left: 1em;
  width: 1.2em;
  height: 1.2em;
  background-color: var(--color-tint);
}

@media (max-width: 44.9em) {
  h1 .actions__icon {
    display: block;
    position: static;
    width: 2em;
    height: 2em;
    margin: 0 auto 0.5em auto;
  }
}

@media (min-width: 45em) {
  .actions__icon {
    display: block;
    position: static;
    width: 3em;
    height: 3em;
    margin: 0 auto 1em auto;
  }
}

@media(hover: hover) {
  .actions__item:hover .actions__icon {
    background-color: var(--color-tint-alt);
  }
}

.actions__icon.--navigate {
  -webkit-mask: url("/images/navigate.svg") center/100% no-repeat;
  mask: url("/images/navigate.svg") center/100% no-repeat;
}

.actions__icon.--slow {
  -webkit-mask: url("/images/slow.svg") center/100% no-repeat;
  mask: url("/images/slow.svg") center/100% no-repeat;
}

.actions__icon.--scroll {
  -webkit-mask: url("/images/scroll.svg") center/100% no-repeat;
  mask: url("/images/scroll.svg") center/100% no-repeat;
}

.actions__icon.--error {
  -webkit-mask: url("/images/error.svg") center/100% no-repeat;
  mask: url("/images/error.svg") center/100% no-repeat;
}

.actions__icon.--error {
  -webkit-mask: url("/images/error.svg") center/100% no-repeat;
  mask: url("/images/error.svg") center/100% no-repeat;
}

.actions__icon.--protected {
  -webkit-mask: url("/images/protected.svg") center/100% no-repeat;
  mask: url("/images/protected.svg") center/100% no-repeat;
}

.actions__icon.--modal {
  -webkit-mask: url("/images/modal.svg") center/100% no-repeat;
  mask: url("/images/modal.svg") center/100% no-repeat;
}

.actions__icon.--native {
  -webkit-mask: url("/images/native.svg") center/100% no-repeat;
  mask: url("/images/native.svg") center/100% no-repeat;
}

.actions__icon.--external {
  -webkit-mask: url("/images/external.svg") center/100% no-repeat;
  mask: url("/images/external.svg") center/100% no-repeat;
}

.actions__icon.--redirect {
  -webkit-mask: url("/images/redirect.svg") center/100% no-repeat;
  mask: url("/images/redirect.svg") center/100% no-repeat;
}

.actions__icon.--files {
  -webkit-mask: url("/images/files.svg") center/100% no-repeat;
  mask: url("/images/files.svg") center/100% no-repeat;
}

.actions__icon.--reference {
  -webkit-mask: url("/images/reference.svg") center/100% no-repeat;
  mask: url("/images/reference.svg") center/100% no-repeat;
}

.actions__icon.--turbo-drive {
  -webkit-mask: url("/images/turbo-drive.svg") center/100% no-repeat;
  mask: url("/images/turbo-drive.svg") center/100% no-repeat;
}

.actions__icon.--turbo-frames {
  -webkit-mask: url("/images/turbo-frames.svg") center/100% no-repeat;
  mask: url("/images/turbo-frames.svg") center/100% no-repeat;
}

.actions__icon.--turbo-streams {
  -webkit-mask: url("/images/turbo-streams.svg") center/100% no-repeat;
  mask: url("/images/turbo-streams.svg") center/100% no-repeat;
}

.actions__icon.--turbo-native {
  -webkit-mask: url("/images/turbo-native.svg") center/100% no-repeat;
  mask: url("/images/turbo-native.svg") center/100% no-repeat;
}

.auth {
  background: var(--color-sheet);
  padding: 0.75em;
  border-radius: 0.5em;
}

.auth__signout {
  float: right;
  display: inline-block;
  width: auto;
  padding: 0;
  margin: 0;
  background: none;
  color: var(--color-text);
}