<h2 class="actions__header space --top-l">Reference</h2>

<div class="actions grid__item --start-2 --span-10">
  <a class="actions__item" href="/reference/turbo-drive">
    <div class="actions__icon --turbo-drive" aria-hidden="true"></div>
    Turbo Drive
    <p>Turbo Drive accelerates links and form submissions by negating the need for full page reloads.</p>
  </a>
  <a class="actions__item" href="/reference/turbo-frames">
    <div class="actions__icon --turbo-frames" aria-hidden="true"></div>
    Turbo Frames
    <p>Turbo Frames decompose pages into independent contexts, which scope navigation and can be lazily loaded.</p>
  </a>
  <a class="actions__item" href="/reference/turbo-streams">
    <div class="actions__icon --turbo-streams" aria-hidden="true"></div>
    Turbo Streams
    <p>Turbo Streams deliver page changes over WebSocket, SSE or in response to form submissions using just HTML and a set of CRUD-like actions.</p>
  </a>
  <a class="actions__item" href="/reference/turbo-native">
    <div class="actions__icon --turbo-native" aria-hidden="true"></div>
    Turbo Native
    <p>Turbo Native lets your majestic monolith form the center of your native iOS and Android apps, with seamless transitions between web and native sections.</p>
  </a>
</div>