<h1 class="page-title">Restoring Your Scroll</h1>

<p>
Now, go back. You'll notice even though we're using a single web view, Turbo automatically restores the scroll position of the previous page and takes a screenshot of the current page to make the transition seamless.
</p>
