a,
a:visited {
  font-weight: inherit;
}

.page-title:not(.display-native) {
  display: none;
}

input[type='text']:focus {
  outline: 0;
}

.actions__item {
  text-decoration: none;
}

.button\@native,
.button\@native:visited {
  display: block;
  width: 100%;
  padding: 0.75em 1.5em;
  margin: 0 0 var(--space-m);
  background: var(--color-tint);
  font-size: var(--type-m);
  color: var(--color-black);
  text-align: center;
  text-decoration: none;
  line-height: 1.25;
  border: 0;
  border-radius: 0.5em;
}

.log-block {
  font-size: 10px;
}
