<h1 class="page-title">Account page</h1>
<p>We are in the account options. We want to modify phone number</p>
<p>
  <a href="/phone-setup" class="button@native space --bottom-flush">
    Modify phone number
  </a>
</p>
