<h1 class="page-title">Second screen of flow</h1>
<p>
This is example of flow.
</p>
<p><a href="/flow_one" class="button@native space --bottom-flush">Go to first page</a></p>
<p><a href="/flow_three" class="button@native space --bottom-flush">Go to third page</a></p>