<h1 class="page-title">Third screen of flow</h1>
<p>
This is example of flow.
</p>
<p><a href="/flow_one" class="button@native space --bottom-flush">Go to first page</a></p>
<p><a href="/flow_two" class="button@native space --bottom-flush">Go to second page</a></p>