<h1 class="page-title">First screen of flow</h1>
<p>
This is example of flow.
</p>
<p><a href="/flow_two" class="button@native space --bottom-flush">Go to second page</a></p>
<p><a href="/flow_three" class="button@native space --bottom-flush">Go to third page</a></p>