<h1 class="page-title">This screen is rendered by a nested navigator</h1>
<p>
  React Navigation supports nested navigators. This library enables users to
  navigate to another navigator from a web view page.
</p>
<p><a href="/" class="button@native space --bottom-flush">Go back</a></p>
</p>
