<h1 class="page-title">A Modal Webpage</h1>
<p>
  This screen was presented as a modal based on the path configuration file.
  Submitting this form will redirect back to the home screen. The native app
  will receive that visit proposal and initiate a new visit.
</p>

<p>
  Notice that submitting the form will also cause it to dismiss the modal.
  That's handled by the demo app's router.
</p>

<form method="post">
  <button type="submit">Submit Form</button>
</form>

<p>
  <a href="/share" class="button@native space --bottom-flush"
    >Go to parent navigator</a
  >
</p>

<p>
  <a href="/one" class="button@native space --bottom-flush"
    >Go somewhere else</a
  >
</p>
