<h1 class="page-title">Phone modal setup</h1>

<p>Here we would probably enter some phone details and then proceed.</p>
<p>
  <a href="/phone_activation" class="button@native space --bottom-flush"
    >Show second modal</a
  >
</p>
