<h1 class="page-title">Phone setup</h1>

<p>Here we have multiple options, let's say we have the only one.</p>
<p>
  <a
    href="/phone_activation/new?bla=bla"
    class="button@native space --bottom-flush"
    >Start the phone setup modal flow</a
  >
</p>
