<h1 class="page-title">App visibility logs</h1>
<code class="log-block">
  <% for (var i = 0; i < logs.length; i++) { %>
  <div class="log-item">
    <div class="log-item__time"><%= logs[i] %></div>
  </div>
  <% } %>
</code>
